## Practice Data Wrangling

![](https://iili.io/3S2kRyu.png)

## Pandas


Pandas is a Python library extensively used for data analysis and manipulation. It provides data structures like DataFrames, which are similar to tables, and Series, which are like lists or columns in a table. These structures allow for efficient handling and processing of structured data. Pandas is built on top of NumPy and integrates well with other scientific computing libraries. It simplifies tasks such as data cleaning, transformation, and analysis, making it a fundamental tool for data scientists and analysts.

### Installing and Importing Pandas

Installing Pandas
```
pip install pandas
```

In [ ]:
%pip install pandas

importing pandas

In [ ]:
## pd is widely used alias for pandas
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)

### Creating Series and Pandas Data Frame

#### 1. Creating Series
 A Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a spreadsheet or a SQL table. The labels for the Series are collectively known as the index. A Series can be created from a variety of data types, including lists, dictionaries, and NumPy arrays.

In [ ]:
### Ex-1-Task-1

s = None
a = [1, 2, 3, 4, 5, 6]
# Task: create a series using list
### BEGIN SOLUTION
# YOUR CODE HERE
s = pd.Series(a)
### END SOLUTION

In [ ]:
### Ex-1-Task-2
a = {
    'a': 80,
    'b': 90,
    'c': 100
}
s = None
## Task: Create a series using dictionary

### BEGIN SOLUTION
# YOUR CODE HERE
s = pd.Series(a)
### END SOLUTION

In [ ]:
### Ex-1-Task-3
a = [1, 2, 3, 4, 5, 6]
a = np.array(a)
s = None
## Creating a series using numpy array
### BEGIN SOLUTION
# YOUR CODE HERE
s = pd.Series(a)
### END SOLUTION

In [ ]:
### Ex-1-Task-4
population = {
    'Nepal': 30000000,
    'India': 1463865525,
    'Pakistan':255219554,
    'China': 1416096094
}
s = None
## Create a series with name 'population' and dtype='int64'
### BEGIN SOLUTION
# YOUR CODE HERE
s = pd.Series(population, name='population', dtype='int64')
### END SOLUTION

#### 2. Creating DataFrame

In [ ]:
### Ex-2-Task-1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df = None
# Creating Data Frame from Python List
### BEGIN SOLUTION
# YOUR CODE HERE
df = pd.DataFrame(a)
### END SOLUTION

In [ ]:
### Ex-2-Task-2
my_list = [['A', 1], ['B', 2], ['C', 3], ['D', 4]]
# Creating Data Frame from List of List
### BEGIN SOLUTION
# YOUR CODE HERE
df = pd.DataFrame(my_list)
### END SOLUTION

In [ ]:
### Ex-2-Task-3
my_data = {
    'country': ['Nepal', 'India', 'China'],
    'Population': [30000000, 1463865525, 1416096094]
}
df = None
# Creating Data Frame using Python Dictionary
### BEGIN SOLUTION
# YOUR CODE HERE
df = pd.DataFrame(my_data)
### END SOLUTION

## Data Loading and Inspection

### Reading Data
A simple way to store big data is to use CSV files (comma Seperated files) or Parquet Files.
- df_sales --> computed_insight_success_of_active_sellers.csv'
- df_product --> summer-products-with-rating-and-performance_2020-08.csv

In [ ]:
### Ex-3-Task-1
df_sales = None
df_product = None

# reading CSV file
### BEGIN SOLUTION
# YOUR CODE HERE
df_sales = pd.read_csv('computed_insight_success_of_active_sellers.csv')
df_product = pd.read_csv('summer-products-with-rating-and-performance_2020-08.csv')
### END SOLUTION

### Basic Inspection

In [ ]:
### Ex-3-Task-2
head_df = None
tail_df = None
desribe_num_df = None
desribe_cate_df = None
# check the first 10 records of the sales dataframe
# check the last 10 records of the product dataframe
## Check the description of the numerical and categorical columns of prodcut dataframe
### BEGIN SOLUTION
# YOUR CODE HERE
head_df = df_sales.head(10)
tail_df = df_product.tail(10)
desribe_num_df = df_product.describe()
desribe_cate_df = df_product.describe(include='object')
### END SOLUTION

In [ ]:
### Ex-3-Task-3

# set merchant id as the index of the sales dataframe and check index
### BEGIN SOLUTION
# YOUR CODE HERE
df_sales = df_sales.set_index('merchantid')
df_sales.index
### END SOLUTION

In [ ]:
### Ex-3-Task-4
sorted_df = None
## Sort the sales dataframe by rating in Ascending Order, if two records have same rating then sort in descending order by total unit sold
### BEGIN SOLUTION
# YOUR CODE HERE
sorted_df = df_sales.sort_values(by=['rating', 'totalunitssold'], ascending=[True, False])
### END SOLUTION

In [ ]:
### Ex-3-Task-5
portion_df = None
### Get the sorted dataframe for which rating is 4.041 and store in portion_df
### BEGIN SOLUTION
# YOUR CODE HERE
portion_df = sorted_df[sorted_df['rating'] == 4.041]
### END SOLUTION

### Data Types and Conversion

In [ ]:
### Ex-4-Task-1

# the price of the product is upto 2 digit place. I want to convert it into int
### BEGIN SOLUTION
# YOUR CODE HERE
df_product['price'] = df_product['price'].round().astype(int)
### END SOLUTION

In [ ]:
### Ex-4-Task-2
# The datatype of the craw_month is Object type. I want to convert it to data time format and store it in same columns
### BEGIN SOLUTION
# YOUR CODE HERE
df_product['craw_month'] = pd.to_datetime(df_product['craw_month'])
### END SOLUTION

## Data Selection and Filtering

### Selecting Columns and Rows

In [ ]:
### Ex-5-Task-1
ser = None

# Select a 'title' column from product dataframe and store in separate variables as series (ser)
### BEGIN SOLUTION
# YOUR CODE HERE
ser = df_product['title']
### END SOLUTION

In [ ]:
### Ex-5-Task-2
product_price = None
# Select multiple columns ('title', 'price', and 'retail price' ) from product dataframe and store in variable product_price.
### BEGIN SOLUTION
# YOUR CODE HERE
product_price = df_product[['title', 'price', 'retail_price']]
### END SOLUTION

### Selection by labels and Selection by position

In [ ]:
### Ex-5-Task-3
single_data = None
## Select a data of title column and at index 1572 of product dataframe
### BEGIN SOLUTION
# YOUR CODE HERE
single_data = df_product.loc[1572, 'title']
### END SOLUTION

In [ ]:
### Ex-5-Task-4
single_data = None
## Select a data of 6th column and at  5tj row of product dataframe
### BEGIN SOLUTION
# YOUR CODE HERE
single_data = df_product.iloc[4, 5]
### END SOLUTION

In [ ]:
### Ex-5-Task-5
sliced_data = None
## Select a portion of data frame with column name currency_buyer, units_sold, merchant_rating_count, merchant_rating and with index 100 to 200
### BEGIN SOLUTION
# YOUR CODE HERE
sliced_data = df_product.loc[100:200, ['currency_buyer', 'units_sold', 'merchant_rating_count', 'merchant_rating']]
### END SOLUTION

In [ ]:
### Ex-5-Task-6
sliced_data = None
## Select a portion of data frame with 3rd to 8th columns and with rows 100 to 200
# it must only include 100 rows and 7 columns
### BEGIN SOLUTION
# YOUR CODE HERE
sliced_data = df_product.iloc[100:200, 2:9]
### END SOLUTION

### Boolean Indexing and Conditional Filtering

In [ ]:
### Ex-5-Task-7
mean = None
Q3 = None
records = None
# Find mean and 3rd quantile of the price from product dataframe and get all the records that lies between mean and Q3
### BEGIN SOLUTION
# YOUR CODE HERE
mean = df_product['price'].mean()
Q3 = df_product['price'].quantile(0.75)
records = df_product[(df_product['price'] > mean) & (df_product['price'] < Q3)]
### END SOLUTION

In [ ]:
### Ex-5-Task-8
summer_product = None
## Find all the row in product dataframe containing 'summer' keyword in its title. Make sure the string is lower to get all the records.
### BEGIN SOLUTION
# YOUR CODE HERE
summer_product = df_product[df_product['title'].str.lower().str.contains('summer', na=False)]
### END SOLUTION

## Handling Missing Data

In [ ]:
### Ex-6-Task-1
count_na = None
# Count the number of null data in each columns
### BEGIN SOLUTION
# YOUR CODE HERE
count_na = df_product.isna().sum()
### END SOLUTION

In [ ]:
### Ex-6-Task-2

# Impute the  product color with maximum occur value as it is the categorical columns
# Impute the rating five count by mean and rating four count by median of respective columns
### BEGIN SOLUTION
# YOUR CODE HERE
df_product['product_color'] = df_product['product_color'].fillna(df_product['product_color'].mode()[0])
df_product['rating_five_count'] = df_product['rating_five_count'].fillna(df_product['rating_five_count'].mean())
df_product['rating_four_count'] = df_product['rating_four_count'].fillna(df_product['rating_four_count'].median())
### END SOLUTION

## Data Cleaning

### Removing Duplicates

In [ ]:
### Ex-7-Task-1
duplicate_count = None
df_drop_duplicate = None # store the data frame after removing duplicates
# Count no. of duplicates value in product dataframe and drop all the duplicate values
### BEGIN SOLUTION
# YOUR CODE HERE
duplicate_count = df_product.duplicated().sum()
df_drop_duplicate = df_product.drop_duplicates()
### END SOLUTION

## Data Transformation

### Applying Functions: Apply, map

In [ ]:
### Ex-7-Task-2

df_sales['total_profit'] = None
# Calculate the total profit using apply function in pandas and save in total_profit column
# Formulae: total_profit = (mean product price - mean retail price) * total units sold
### BEGIN SOLUTION
# YOUR CODE HERE
df_sales['total_profit'] = df_sales.apply(
    lambda row: (row['meanproductprices'] - row['meanretailprices']) * row['totalunitssold'], axis=1
)
### END SOLUTION

### Binning and Categorizing Data

In [ ]:
### Ex-7-Task-3
df_product['sales_category'] = None
# Divide the row into three category based on their units sold and save it into the sales_category column of produdct dataframe
# category are : low_sales, medium sales, and high sales
### BEGIN SOLUTION
# YOUR CODE HERE
def categorize_sales(units):
    if units <= df_product['units_sold'].quantile(0.33):
        return 'low_sales'
    elif units <= df_product['units_sold'].quantile(0.66):
        return 'medium_sales'
    else:
        return 'high_sales'

df_product['sales_category'] = df_product['units_sold'].apply(categorize_sales)
### END SOLUTION

## Data Aggregation and Grouping

### Groupby aggregation function

In [ ]:
### Ex-8-Task-1

group_df = None
# Create a group of low, medium and high sales and then calulcate, mean of price, median of retail price, min of units_sold and max of rating_five_count of each category
### BEGIN SOLUTION
# YOUR CODE HERE
group_df = df_product.groupby('sales_category').agg({
    'price': 'mean',
    'retail_price': 'median',
    'units_sold': 'min',
    'rating_five_count': 'max'
}).reset_index()
### END SOLUTION

In [ ]:
### Ex-8-Task-2
group_df = None
## Calculate the Coefficient of Variation of each sales category
### BEGIN SOLUTION
# YOUR CODE HERE
mean = df_sales["total_profit"].mean()
std = df_sales["total_profit"].std()
group_df = std / mean
### END SOLUTION

In [ ]:
### Ex-8-Task-3
df_product['price_zscore'] = None
## Calculate the Z_score of price for each sales category
### BEGIN SOLUTION
# YOUR CODE HERE
mean_price = df_product["price"].mean()
std_price = df_product["price"].std()
df_product["price_zscore"] = (df_product["price"] - mean_price) / std_price
### END SOLUTION

## Merging

In [ ]:
### Ex-9-Task-1
merged_df = None
# Merge the sales and product dataframe and delete all the non common entries. Merge two dataframe based on merchant id.
### BEGIN SOLUTION
# YOUR CODE HERE
# Ensure merchant id column exists in both dataframes
if 'merchantid' in df_sales.columns:
    merge_col = 'merchantid'
elif 'merchant_id' in df_sales.columns:
    merge_col = 'merchant_id'
else:
    merge_col = df_sales.index.name
merged_df = df_sales.reset_index().merge(df_product, left_on=merge_col, right_on=merge_col, how='inner')
### END SOLUTION

# Data Wrangling End to End

## Data Cleaning

#### Features and Columns
The data was scraped in the french localisation (hence some non-ascii latin characters such as « é » and « à ») in the title column.

The title_orig on the other hand contains the original title (the base title) that is displayed by default. When a translation is provided by the seller, it appears in the title column. When the title and title_orig columns are the same, it generally means that the seller did not specify a translation that would be displayed to users with french settings.

A picture is worth a thousand words. In the following screenshot you see some features and how to interpret them.

![](wish_viz.jpg)

In [ ]:
### Ex-10-Task-1
df = None
# Read the product data frame with rating and performance
### BEGIN SOLUTION
# YOUR CODE HERE
df = pd.read_csv("/content/summer-products-with-rating-and-performance_2020-08.csv", encoding="utf-8")
### END SOLUTION

There are total 43 columns. Let's try to reduce the number.

#### Some considerations:
- Excluded product color and size because it's just showing the ones that were found in getting the data : there are more colors and sizes for each product so having just one for each category doesn't say much.
- Excluded currency used, as every price is in EUR
- Excluded shipping option, the "shipping_is_express" column is enough.
- Excluded product's and merchant's id's and pictures, that won't be needed.
- Use only original title

After removal of column, it must only have these columns.

'title_orig', 'price', 'retail_price',
'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
'rating_five_count', 'rating_four_count', 'rating_three_count',
'rating_two_count', 'rating_one_count', 'badges_count',
'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
'tags', 'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
'inventory_total', 'has_urgency_banner',
'merchant_rating_count', 'merchant_rating',
'merchant_has_profile_picture'

In [ ]:
### Ex-10-Task-2
df = df[['title_orig', 'price', 'retail_price',
        'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'shipping_option_price','shipping_is_express', 'countries_shipped_to',
        'has_urgency_banner','merchant_rating_count', 'merchant_rating','merchant_has_profile_picture',
        ]]

# print(df.info())
# print(df.isna().sum())
# print(df['has_urgency_banner'].value_counts())
# Check the data frame information, total no. of null entries in each columns and has_urgency_banner columns counts
# After loading the data we se we have 1573 entries and some null values, let's see what some of them are about:
# - Exactly 45 for rating counts from 1 to 5 star, could it be that there are products with no ratings at all?
# - 1100 null values in the has urgency banner : the values there are 1's so the null values should be turned into 0's
# Now, Rename the columns 'has_urgency_banner' to 'is_running_out' and 'title_orig' to 'title' to make it more clear.
# **Fix the runing out column. fill all the null values with 0's.
### BEGIN SOLUTION
# YOUR CODE HERE
df = df.rename(columns={
    'has_urgency_banner': 'is_running_out',
    'title_orig': 'title'
})
### END SOLUTION

#### Check if all the 45 null values for all rating columns belong to same product.
- Get the dataframe for which rating_five_count have null values
- Then, Count the no. of null values for four, three, two and one rating column.

Conclusion: As expected we see the null values in the rating are actually of the same 45 products

In [ ]:
### Ex-10-Task-3
df[df['rating_five_count'].isna()][['rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count']].isna().sum()
df[df['rating_five_count'].isna()].head()
# They seem to be having a rating of 5 even with no ratings: we are going to change the rating and all the rating counts to 0
### BEGIN SOLUTION
# YOUR CODE HERE
null_ratings_check = df[df['rating_five_count'].isna()][['rating_four_count', 'rating_three_count',
                                                         'rating_two_count', 'rating_one_count']].isna().sum()

# Display dataframe where rating_five_count is null
null_ratings_df = df[df['rating_five_count'].isna()].head()

# Set rating and all rating counts to 0 where rating_five_count is null
df.loc[df['rating_five_count'].isna(), ['rating', 'rating_count', 'rating_five_count',
                                        'rating_four_count', 'rating_three_count',
                                        'rating_two_count', 'rating_one_count']] = 0
### END SOLUTION

## Data Exploration

```df['units_sold'].unique()```

It seems like they are all numbers approximated to their lower bound. So let's pretend they are divided in ranges like this:

- 10-100
- 100-1000
- 1000-5000
- 5000-10000
- 10000-20000
- 20000-50000
- 50000-100000
- 100000+

Let's define 3 performance characteristics:

- Average : 0-1000
- Successful: 1000-20000
- Very Successful 20000+

Find the percentage of product belongs to each category.
Steps:
1. First find the performance category and store in performance columns
2. Then, Calculate the percentage of product in each performance category

In [ ]:
### Ex-10-Task-4
percentage_of_product_in_each_performance_category = None
### BEGIN SOLUTION
# YOUR CODE HERE
def performance_category(units):
    if units <= 1000:
        return 'Average'
    elif units <= 20000:
        return 'Successful'
    else:
        return 'Very Successful'

# Apply the function to create the performance column
df['performance'] = df['units_sold'].apply(performance_category)

# Calculate percentage of products in each performance category
percentage_of_product_in_each_performance_category = df['performance'].value_counts(normalize=True) * 100
### END SOLUTION

## Product Rating and Performance Comparision

Looking at the rating columns I notice two things:

- Some products have a rating count that's too low to be considered, let's only look at products with more than 150 ratings to try to have a fair result
- The rating of the products is a decimal number: let's create another column that categorizes each product into it's rating range.
    - columns are
        1. < 1 if rating < 1
        2. 1-2 if rating >= 1 and rating < 2
        3. 2-3 if rating >= 2 and rating < 3
        4. 3-4 if rating >= 3 and rating < 4
        5. 4-5 if rating >= 4 and rating < 5
- Create pivot table with performance in index, raiting_range in column and no. of product as values

In [ ]:
### Ex-10-Task-5
df_ratings = pd.DataFrame()  ## get records with rating_count > 100
df_ratings['rating_range'] = None
pivot_table = None
### BEGIN SOLUTION
# YOUR CODE HERE
df_ratings = df[df['rating_count'] > 150].copy()

# Create rating range categories
def get_rating_range(rating):
    if rating < 1:
        return '< 1'
    elif rating < 2:
        return '1-2'
    elif rating < 3:
        return '2-3'
    elif rating < 4:
        return '3-4'
    elif rating < 5:
        return '4-5'
    else:
        return '5'

df_ratings['rating_range'] = df_ratings['rating'].apply(get_rating_range)

# Create pivot table
pivot_table = pd.pivot_table(df_ratings,
                              index='performance',
                              columns='rating_range',
                              values='title',
                              aggfunc='count',
                              fill_value=0)
### END SOLUTION

This table shows that if the product have average rating of 3-4. THen, it is most likely to be successful product.